* {
    margin: 0;
    padding: 0;
}

.counter-container {
    border: 1px solid black;
    margin: 20px;
    height: 150px;
    text-align: center;

    .buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;

    }
}